<!DOCTYPE html>
<html>
<head>
<title>About Me</title>
</head>

<body>
<h1>Freeman, Noah</h1>
<p>1. I am from CO. <br>
2. I like to code. <br>
3. I like to snowboard. <br>
4. I am studying CS to help further humanity.
</p>



</body>

<h2>My Professional Profile</h2>

<a href="https://github.com/CSCI-3308-CU-Boulder/The-Spirit-Lemurs">Github account</a>
<br>
<br>
<img src="..\resources\img\chair.jpg" alt="Chair Pic" style="width:500px;height:650px;">


<h3>My Favorite Projects</h3>

<table>
  <tr>
    <th>Name of the Project</th>
    <th>Technologies Used</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
  </tr>
  <tr>
    <td>Data</td>
    <td>Data2</td>
  </tr>
</table>

<h3>My Interests</h3>
<ul>
  <li>Space</li>
  <li>Tea</li>
  <li>Food</li>
</ul>

</html>
